[Unit]
Description=Citadel Set Password
After=storage.mount
Requires=storage.mount
Before=gdm.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/libexec/citadel-setpassword.sh

[Install]
WantedBy=multi-user.target
RequiredBy=graphical.target
