[Unit]
Description=Session Switcher
After=accounts-daemon.service
Wants=accounts-daemon.service

ConditionKernelCommandLine=|citadel.sway

[Service]
Type=oneshot
RemainAfterExit=no

ExecStartPre=-/usr/bin/plymouth message --text="Setting session to sway"
ExecStart=/usr/bin/busctl call org.freedesktop.Accounts /org/freedesktop/Accounts/User1000 org.freedesktop.Accounts.User SetXSession s "sway"

[Install]
WantedBy=graphical.target

